{% extends "_base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}



<div class=" my-20 flex space-x-40">
    <div class="box-border w-96 h-auto border-4 border-slate-500 p-4 text-center rounded  text-2xl">

        <img class="mx-24 rounded-full" src="{% static 'image\f1\card-01.jpg' %}" >
        <h1 class="font-mitr">   เมี่ยงคำกลีบบัวหลวง  </h2>

            <h2 class="py-4 font-sarabun">
                เมี่ยงคำกลีบบัวหลวง เป็นอาหารพื้นเมืองที่มีสรรพคุณต่อสุขภาพ ตามวิถีภูมิปัญญาท้องถิ่น ของจังหวัดอุบลราชธานี มีความโดดเด่นและมีเอกลักษณ์ที่มีความประณีตสวยงาม 
                เป็นต้นตำรับเมนูสมุนไพรของคนไทยโบราณที่มีมาช้านานทั้งในเรื่องของรสชาติที่กลมกล่อม เครื่องปรุงล้วนเป็นสมุนไพรจากธรรมชาติ มีคุณค่าทางสมุนไพรสูง เพราะมีคุณสมบัติในการบำรุงรักษาธาตุทั้ง 4
            </h2>
            
            
                <a href="/f1">
                    <button class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold 
                    hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent
                    rounded font-sarabun"> 
                    เรียนรู้เพิ่มเติม...
                    </button>
                </a>
            
    </div>

    <div class="box-border w-96 h-auto border-4 border-slate-500 p-4 text-center rounded  text-2xl ">

        <img class="mx-24 rounded-full" src="{% static 'image/f2/ปลา.jpg' %}" >
        <h1 class=" font-mitr">  ปลาส้มทรงเครื่องสมุนไพร  </h2>
            <h2 class="py-4 font-sarabun ">
                ปลาส้มทรงเครื่องสมุนไพร เป็นอาหารพื้นเมืองที่มีสรรพคุณต่อสุขภาพ ตามวิถีภูมิปัญญาท้องถิ่น ของจังหวัดอุบลราชธานี ที่ได้สืบทอดกันมารุ่นต่อรุ่น มีความโดดเด่นและมีความเป็นเอกลักษณ์ของจังหวัดอุบลราชธานี 
                เป็นต้นตำรับเมนูสมุนไพรโบราณที่มีมาช้านานทั้งในเรื่องของรสชาติที่กลมกล่อม เครื่องปรุงล้วนเป็นสมุนไพรจากธรรมชาติ มีคุณค่าทางสมุนไพรสูง
            </h2>
            <a href="/f2">
                <button class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold 
                hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent
                rounded font-sarabun"> 
                เรียนรู้เพิ่มเติม...
                </button>
            </a>
    </div>

    <div class="box-border w-96 h-auto border-4 border-slate-500 p-4 text-center rounded  text-2xl">

        <img class="mx-24 rounded-full" src="{% static 'image/f3/ปลาคัง.jpg' %}" >
        <h1 class=" font-mitr">  ลาบปลาคัง  </h2>
            <h2 class="py-4 font-sarabun">
                ลาบปลาคัง เป็นอาหารพื้นเมืองที่มีสรรพคุณต่อสุขภาพ ตามวิถีภูมิปัญญาท้องถิ่น ของจังหวัดอุบลราชธานี ที่ได้สืบทอดกันมารุ่นต่อรุ่น มีความโดดเด่นและมีความเป็นเอกลักษณ์ของจังหวัดอุบลราชธานี 
                เป็นต้นตำรับเมนูสมุนไพรโบราณที่มีมาช้านานทั้งในเรื่องของรสชาติที่กลมกล่อม เครื่องปรุงล้วนเป็นสมุนไพรจากธรรมชาติ มีคุณค่าทางสมุนไพรสูง
            </h2>
            
                <a href="/f3">
                    <button class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold 
                    hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent
                    rounded font-sarabun"> 
                    เรียนรู้เพิ่มเติม...
                    </button>
                </a>
            
    </div>

</div>




{% endblock content %}

